.vscode/settings.json
linear_regression/util/__pycache__/
Multilayer_perceptrons/Exercises/dropout/util/__pycache__/
Multilayer_perceptrons/Exercises/dropout/dropout_losses_table.jpg
.gitignore
Multilayer_perceptrons/Exercises/dropout/losses.png
Multilayer_perceptrons/Exercises/dropout/dropout_losses.jpg
Multilayer_perceptrons/data/kaggle_house_pred_test.csv
Multilayer_perceptrons/data/kaggle_house_pred_train.csv
Multilayer_perceptrons/kaggle/submission.csv
Multilayer_perceptrons/dropout/dropout/dropout_losses_table.jpg
Multilayer_perceptrons/dropout/dropout/dropout_losses.jpg
Multilayer_perceptrons/dropout/dropout/losses.png
*.pyc
DL computation/checkpoint
DL computation/mlp.params.index
DL computation/x-file.npy
DL computation/xy-files.npy
DL computation/mydict.npy
DL computation/mlp.params.data-00000-of-00001
convolution/exercises/results_dir/
logs
object detection/
*.pyc
train_log/cifar_resnet/checkpoint
*events.out.tfevents*
*log.log*
*.index
*stats.json
train_log/cifar_resnet/model*
modern_convolution_networks/exercises/VGG16/checkpoint
train_log/vgg16/checkpoint
train_log/vgg16/graph*
train_log/vgg16/model*
*.meta
train_log/NIN/checkpoint
*.data*

*checkpoint*
*.json
.idea/
.idea/sonarlint
*.pb
*json*
*.pb